/bin
/out
/test/mooneye-gb
/test/mooneye-gb-wp
/third_party/wla-dx
*.gb
__pycache__
*.pyc
imgui.ini

# Tizen (eclipse) settings
.settings

#compile file
*.wgt

# avoid unused wasm_modules
SamGameBoy/wasm_modules/
!SamGameBoy/resources/roms/cpu_instrs.gb
SamGameBoy/resources/roms/

# keys for deploy in SamsungTV
/SamGameBoy/.sign/.manifest.tmp
/SamGameBoy/.sign/author-signature.xml
/SamGameBoy/.sign/signature1.xml
