<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/reik2k/binjgb" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="d83C112BCV.Empty" package="d83C112BCV" required_version="2.3"/>
    <author href="https://github.com/reik2k/binjgb" email="reik2k@hotmail.com">Abel Prieto</author>
    <content src="index.html"/>
    <description>This is a simple Gameboy emulator for your smart TV. </description>
    <description xml:lang="en-gb">English</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <license href="https://github.com/reik2k/binjgb/blob/master/LICENSE">MIT License</license>
    <license xml:lang="en-gb" href="https://github.com/reik2k/binjgb/blob/master/LICENSE">MIT License</license>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <name>SamGameBoy</name>
    <name xml:lang="en-gb">English</name>
    <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
